<div class="container-fluid mt-5">
    <h3>Demandes d'absence de l'équipe</h3>
    <br><br>
        <table class="table table-custom table-striped">
            <thead class="thead-dark">
                <tr>
                    <th hidden scope="col">id</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Collaborateur</th>         
                    <th scope="col">Type d'absence</th>
                    <th scope="col">Du</th>
                    <th scope="col">Au</th>
                    <th scope="col"class="text-center">Commentaire</th>
                    <th scope="col"class="text-center">Justificatif d'absence</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Décision du manager</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let demande of demandes; let i = index">

                        <td hidden>{{demande.DEM_id}}</td>
                        <td>{{ demande.DEM_DteDemande | date:'dd/MM/yyyy'}}</td>
                        <td>{{ demande.EMP_Nom }}</td>
                        <td>{{ demande.TYPE_Libelle }}</td>
                        <td>{{ demande.DEM_DteDebut | date:'dd/MM/yyyy'}}</td>
                        <td>{{ demande.DEM_DteFin | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div *ngIf="demande.DEM_Comm; else noComment">{{ demande.DEM_Comm }}</div>
                            <ng-template #noComment><div class="text-center">—</div></ng-template>
                        </td>
                        <td>
                            <div *ngIf="demande.DEM_Justificatif; else noJustif">{{ demande.DEM_Justificatif }}
                                <a class="btn btn-sm btn-outline-primary ms-2">Télécharger</a>
                            </div>
                            <ng-template #noJustif><div class="text-center">—</div></ng-template>
                        </td>
                        <td>{{ demande.STAT_Libelle }}</td>
                        <td>
                            <div class="d-flex justify-content-start gap-2">
                                    <!-- Si le statut est En cours -->
                                <ng-container *ngIf="demande.STAT_Libelle === 'En attente'; else modifierDecision">
                                    <button class="btn btn-outline-success" (click)="majStatut(demande, 2)">Accepter</button>
                                    <button class="btn btn-outline-danger" (click)="majStatut(demande, 3)">Refuser</button>
                                </ng-container>
                                <!-- Sinon, afficher Modifier -->
                                <ng-template #modifierDecision>
                                    <button class="btn btn-outline-warning" (click)="majStatut(demande, 1)">Modifier la décision</button>
                                </ng-template>
                    
                            </div>
                       </td>
                    </tr>
                
            </tbody>
        </table>
</div>
