<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
          <h3>Calendrier de l'équipe</h3>
            <full-calendar [options]="calendarOptions"></full-calendar>
    <div class="legend mt-3">
        <span> Légende : </span>
        <span class="legend-box" style="background-color: #f5f5f5; border: 1px solid #ccc;"></span>
        <span style="color: #dc3545;">Refusé</span>
        <span class="legend-box" style="background-color: #e6f0ff; border: 1px solid #ccc;"></span>
        <span style="color: #007bff;">En attente</span>
      </div>
    </div>
</div>
</div>
