<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" href="#">
    <span style="color: #0dcaf0; font-weight: bold;">Flexi</span><span style="color: white;">Time</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="calendrier">Calendrier personnel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mes demandes d'absence</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="demandes">Créer une demande</a></li>
            <li><a class="dropdown-item" href="histo-demandes">Historique des demandes</a></li>
            <li><a class="dropdown-item" href="compteur">Compteur de congés</a></li>
          </ul>
        </li>
        <ng-container *ngIf="auth.user$ | async as user">
          <li class="nav-item dropdown" *ngIf="user['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']?.includes('Manager')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Espace Manager
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="calendrier-commun">Calendrier commun</a></li>
              <li><a class="dropdown-item" href="demandes-equipe">Demandes de l'équipe</a></li>
            </ul>
          </li>
        </ng-container>
      </ul>
      <div class="ms-auto">
        <span class="navbar-text custom-text text-warning" *ngIf="auth.user$ | async as user">
          Bienvenue {{user.name}}
          <button *ngIf="(auth.isAuthenticated$ | async)" class="btn btn-outline-danger ms-3" (click)="logout()" type="button">Logout</button>
        </span>  
        <span>
          <button class="btn btn-dark ms-3" (click)="changeTheme()">Thème ☀️/🌙</button>
        </span>
      </div>
    </div>
  </div>
</nav>

