

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="text-center mb-4">
            <h3>{{ titreForme }}</h3>
        </div>
        <form [formGroup]="formAbs" (ngSubmit)="Save(formAbs)">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Type de demande</label>
              <select formControlName="type" class="form-control, form-select" id="exampleFormControlSelect1">
                <option *ngFor="let type of typeAbsences" [value]="type.TAEM_TYPE_id">
                    {{ type.TYPE_Libelle }}
                  </option>
              </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateBegin">Date de début :</label>
                        <div class="input-group">
                            <input type="date" id="dateBegin"
                                class="form-control text-muted"
                                placeholder="dd/mm/yyyy"
                                formControlName="dateBegin"
                                ngbDatepicker
                                #dp1="ngbDatepicker">
                            <button class="btn btn-outline-secondary bi bi-calendar3" type="button" (click)="dp1.toggle()">📅</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateEnd">Date de fin :</label>
                        <div class="input-group">
                            <input input type="date" id="dateEnd"
                                class="form-control text-muted"
                                placeholder="dd/mm/yyyy"
                                formControlName="dateEnd"
                                ngbDatepicker
                                #dp2="ngbDatepicker">
                            <button class="btn btn-outline-secondary bi bi-calendar3" type="button" (click)="dp2.toggle()">📅</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="showDuree">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Durée</label>
                        <select id="typeJournee" class="form-select" aria-label="Default select example">
                            <option value="Matin">Matin</option>
                            <option value="Apres-midi">Après-midi</option>
                            <option value="Journee">Jour complet</option>
                          </select>
                      </div>
                </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Commentaire</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comment"></textarea>
              </div> 
              <div class="form-group" *ngIf="showJustif">
                <label for="exampleFormControlTextarea1">Justificatif</label>
                <input type="file" class="form-control" id="justificatif">
              </div> 
            </div>    
              <button class="btn btn-danger mt-3" type="submit" [disabled]="formAbs.invalid">Valider</button>
          </form>
      </div>
    <div class="col">
        <button class="btn btn-secondary mt-3" (click)="navigateToCompteur()" type="button">Aperçu des compteurs</button>
    </div>
</div>
