<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Employés à restaurer</h3>
        <button class="btn btn-outline-secondary" (click)="navigateToActived()" type="button" >
      Liste d'employés actifs
    </button>
    </div>
    
    <br><br>
        <table class="table table-custom table-striped">
            <thead class="thead-dark">
                <tr>
                    <th hidden scope="col">id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénoms</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Restaurer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employe of employes; let i = index">

                        <td hidden>{{employe.EMP_id}}</td>
                        <td>{{ employe.EMP_Nom }}</td>
                        <td>{{ employe.EMP_Prenom }} {{ employe.EMP_Pren2 }}</td>
                        <td>{{ employe.EMP_Sexe }}</td>
                        <td>{{ employe.EMP_Email }}</td>
                        <td>{{ employe.ROL_Libelle }}</td>
                        <td>{{ employe.EMP_Manager }}</td>
                        <td>
                            <div class="d-flex justify-content-start gap-2">
                                <button class="btn btn-outline-primary" type="button"(click)="restore(employe.EMP_id)">Restaurer</button>
                            </div>
                       </td>
                    </tr>
                
            </tbody>
        </table>
</div>

